<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<style>
	input:focus, select:focus {
	  box-shadow: 0 0 5px #CCC !important;
	  border-color: #CCC !important; 
	}
</style>
<div id="slider_area">
    <div class="row">
        <div class="col-0 col-sm-1 col-md-1"></div>
        <div class="col-7 col-sm-6 col-md-5">
                <div class="slider_content">
                        <% unless @meeting.blank? and !@room_running %>
                        <h1><%= t("landing.join_in_meeting").html_safe %></h1>
                        <p><%= t("landing.join_in_meeting_desc").html_safe %></p>
                        <% else %>
                        <h1><%= t("landing.welcome").html_safe %></h1>
                        <p><%= t("landing.about").html_safe %></p>
                        <% end %>
                        <div class="row join_area">
                                <%= form_with(url: "/demo_meeting", method: "POST", local: true, :html => { :style => 'width: 100%;' }) do %>
                                  <input type="hidden" name="action" value="create">
                                  <div class="col-8 col-sm-8 col-md-8 pr-0" style="display:inline-block;">
                                      <input type="username" name="username" placeholder="Enter Your Name">
                                  </div>
                                  <% unless @meeting.blank? and !@room_running %>
                                  <input type="hidden" name="meetingname" value="<%= @meeting %>">
                                  <input type="hidden" name="join_type" value="0">
                                  <div class="col-4 col-sm-4 col-md-4 pl-0" style="display:inline-block; width: 30%;">
                                      <button type="submit"><%= t("landing.join_now").html_safe %></button>
                                  </div>
                                  <% else %>
                                  <input type="hidden" name="join_type" value="1">
                                  <div class="col-4 col-sm-4 col-md-4 pl-0" style="display:inline-block; width: 30%;">
                                      <button type="submit"><%= t("landing.join_it_free").html_safe %></button>
                                  </div>
                                  <% end %>
                              <% end %>
                        </div>
                </div>
        </div>
        <div class="col-5 col-sm-6 col-md-6"></div>
    </div>
</div>

<%= render "main/components/features_new" %>
<% unless current_user %>
<%= render "main/components/price_plan" %>
<% end %>
<%= render "main/components/limitless_area" %>
<%= render "main/components/contact" %>
<%= render "main/components/home_footer" %>
